In [19]:
import pandas as pd

In [23]:
df = pd.read_csv('dados/dataset/inventory.csv')

df

,Store,Date,Product,Weekly_Sales,inventory level,Temperature,Past promotion of product in lac,demand forecast
0,1,05-02-2010,Blueberry scented candle,1643690.90,0,42.31,2.572,8.106
1,4,12-02-2010,Stainless steel water bottle,1641957.44,1,38.51,2.548,8.106
2,5,19-02-2010,Leather messenger bag,1611968.17,0,39.93,2.514,8.106
3,2,26-02-2010,Organic coconut oil,1409727.59,0,46.63,2.561,8.106
4,3,05-03-2010,Bluetooth wireless earbuds,1554806.68,0,46.50,2.625,8.106
...,...,...,...,...,...,...,...,...
494,5,06-05-2011,Yoga mat with carrying strap,2063682.76,0,63.41,3.866,5.946
495,2,13-05-2011,Stainless steel french press coffee maker,2002362.37,0,70.65,3.872,5.946
496,3,20-05-2011,Memory foam travel neck pillow,2015563.48,0,70.49,3.881,5.946
497,1,27-05-2011,Glass meal prep containers set,1986597.95,0,73.65,3.771,5.946
498,4,03-06-2011,Vegan leather wallet,2065377.15,0,78.26,3.683,5.946

In [24]:
df2 = pd.read_csv('dados2/tech-dataset.csv')

df2

,RegionName,CountryName,State,City,PostalCode,WarehouseAddress,WarehouseName,EmployeeName,EmployeeEmail,EmployeePhone,...,CustomerName,CustomerAddress,CustomerCreditLimit,CustomerEmail,CustomerPhone,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Summer Payne,summer.payne@example.com,5151238181,...,Flor Stone,2904 S Salina St,5000,flor.stone@raytheon.com,13171234104,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Rose Stephens,rose.stephens@example.com,5151238080,...,Lavera Emerson,"5344 Haverford Ave, Philadelphia",5000,lavera.emerson@plainsallamerican.com,13171234111,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Annabelle Dunn,annabelle.dunn@example.com,5151234444,...,Fern Head,"1795 Wu Meng, Muang Chonburi",1200,fern.head@usfoods.com,18121234115,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Tommy Bailey,tommy.bailey@example.com,5151234567,...,Shyla Ortiz,"Walpurgisstr 69, Munich",2400,shyla.ortiz@abbvie.com,13171234126,Pending,15-Oct-17,128,849.99,124
4,South America,United States of America,Texas,Southlake,26192,2014 Jabberwocky Rd,Southlake Texas,Blake Cooper,blake.cooper@example.com,5151234569,...,Jeni Levy,"Via Frenzy 6903, Roma",1200,jeni.levy@centene.com,18121214129,Shipped,09-Apr-17,106,109.99,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Veera Abdellah,VeeraAbdellah@gmail.com,8788092231,...,Vega Vincent,4284 Dorigo Ln,4900,VegaVincent@gmail.com,787879874,Shipped,27-Sep-17,32,725.99,107
396,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Vega Vincent,VegaVincent@gmail.com,6700989921,...,Villanueva Noah,6794 Lake Dr E,5000,VillanuevaNoah@gmail.com,785811219,Pending,16-Aug-16,66,798.26,118
397,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Villanueva Noah,VillanuevaNoah@gmail.com,7890991231,...,Voldemort Lord,31 Douglas Blvd #950,4000,VoldemortLord@gmail.com,789243757,Canceled,27-May-16,82,849.99,118
398,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Zima Colleen,ZimaColleen@gmail.com,8690991436,...,Lucy Cechtelar,44 W 4th St,3000,LucyCechtelar@gmail.com,964940981,Shipped,27-May-17,157,821.99,95
399,Asia,India,Maharashtra,Bombay,490231,1298 Vileparle (E),Bombay,Volk Colleen,VolkCollen@gmail.com,9426826971,...,John Snow,11279 Loytan St,2000,JohnSnow@gmail.com,567897474,Canceled,27-May-17,32,579.59,92

In [33]:
colunas_remover = ['PostalCode', 'WarehouseAddress', 'WarehouseName',
'EmployeeName', 'EmployeeEmail', 'EmployeePhone', 'EmployeeJobTitle', 'ProductDescription',
'CustomerCreditLimit', 'CustomerAddress', 'CustomerEmail', 'CustomerPhone']

df2.drop(colunas_remover, axis=1)

,RegionName,CountryName,State,City,EmployeeHireDate,CategoryName,ProductName,ProductStandardCost,Profit,ProductListPrice,CustomerName,Status,OrderDate,OrderItemQuantity,PerUnitPrice,TotalItemQuantity
0,South America,United States of America,Texas,Southlake,07-Jun-16,CPU,Intel Xeon E5-2699 V3 (OEM/Tray),2867.51,542.95,3410.46,Flor Stone,Shipped,17-Nov-16,132,469.99,122
1,South America,United States of America,Texas,Southlake,07-Jun-16,CPU,Intel Xeon E5-2697 V3,2326.27,448.71,2774.98,Lavera Emerson,Shipped,20-Feb-17,124,519.99,123
2,South America,United States of America,Texas,Southlake,17-Sep-16,CPU,Intel Xeon E5-2698 V3 (OEM/Tray),2035.18,625.54,2660.72,Fern Head,Canceled,03-Jan-17,92,800.74,123
3,South America,United States of America,Texas,Southlake,17-Jun-16,CPU,Intel Xeon E5-2697 V4,2144.40,410.59,2554.99,Shyla Ortiz,Pending,15-Oct-17,128,849.99,124
4,South America,United States of America,Texas,Southlake,13-Jan-16,CPU,Intel Xeon E5-2685 V3 (OEM/Tray),2012.11,489.58,2501.69,Jeni Levy,Shipped,09-Apr-17,106,109.99,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,Asia,India,Maharashtra,Bombay,13-Aug-12,Video Card,MSI GTX 1080 TI LIGHTNING Z,688.35,185.63,873.98,Vega Vincent,Shipped,27-Sep-17,32,725.99,107
396,Asia,India,Maharashtra,Bombay,01-Aug-11,Video Card,Asus ROG-POSEIDON-GTX1080TI-P11G-GAMING,696.14,168.84,864.98,Villanueva Noah,Pending,16-Aug-16,66,798.26,118
397,Asia,India,Maharashtra,Bombay,11-Sep-08,Video Card,MSI GTX 1080 TI LIGHTNING X,742.94,121.04,863.98,Voldemort Lord,Canceled,27-May-16,82,849.99,118
398,Asia,India,Maharashtra,Bombay,02-Feb-10,Video Card,Zotac ZT-P10810A-10P,702.35,147.64,849.99,Lucy Cechtelar,Shipped,27-May-17,157,821.99,95
399,Asia,India,Maharashtra,Bombay,15-May-00,Video Card,MSI GAMING,753.18,96.81,849.99,John Snow,Canceled,27-May-17,32,579.59,92